/* Frame 1073713966 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 574.79px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1073713963 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 98px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 50+ */

width: 76px;
height: 38px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 38px;
/* identical to box height, or 100% */
display: flex;
align-items: center;

color: #FFFFFF;

backdrop-filter: blur(7px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clients */

width: 134.03px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgba(255, 255, 255, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1073713964 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 160.13px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 80+ */

width: 77px;
height: 38px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 38px;
/* identical to box height, or 100% */
display: flex;
align-items: center;

color: #FFFFFF;

backdrop-filter: blur(7px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Projects successfully completed */

width: 160.13px;
height: 40px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgba(255, 255, 255, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1073713965 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 236.66px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 60% */

width: 91px;
height: 38px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 38px;
/* identical to box height, or 100% */
display: flex;
align-items: center;

color: #FFFFFF;

backdrop-filter: blur(7px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* of the clients converted into long term engagement partners */

width: 236.66px;
height: 40px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgba(255, 255, 255, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
