@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: aliceblue;
}

.ant-input::placeholder {
  color: rgb(73, 73, 73);
}

.ant-input {
  background-color: transparent;
  color: aliceblue;
}

#chat-input {
  background-color: transparent;
  color: black;
}

.ant-input-suffix {
  background-color: blanchedalmond;
  border-radius: 100%;
  margin-top: 4px;
  height: max-content;
}

#chat-window::-webkit-scrollbar {
  width: 3px;
}
